/* First, ensure that all HTML elements have the box-sizing property set to border-box. This makes sure that the padding and border are included in the total width and height of the elements. */
/* grid.css */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

/* grid.css */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* All these columns should be floating to the left, and have a padding of 15px */
/* grid.css */
[class*="col-"] {
    float: left;
    /* padding: 15px; */
    border: 1px solid #da353585;
}

/* The columns inside a row are all floating to the left, and are therefore taken out of the flow of the page, and other elements will be placed as if the columns do not exist. To prevent this, add a style that clears the flow */
.row::after {
    content: "";
    clear: both;
    display: table;
}


.header-row {
    height: 48px;
    border-bottom: 1px solid #a6917133;
}

/* left */
div#logo {
    width: 197px;
}

/* right */
div#sign-up {
    padding: 16px 16px;
    font-size: 16px;
    text-align: right;
}

a {
    font-size: 16px;
    color: #1E1919;
    text-decoration: none;
}

/* main center relative login container */
.center-main {
    width: 100%;
    max-width: 398px;
    margin: 24px auto;
    padding: 48px 20px;
    /* border: 3px solid #73AD21; */
}

h3 {
    color: #1E1919;
    font-size: 20px;
    font-weight: 300;
}

.button {
    max-width: 400px;
    min-width: 200px;
    width: 350px;
    height: 40px;
    margin: 24px 0 0;
    border: 1px solid #a69e9299;
}

.button-inner {
    padding: 12px 10px 0 10px;
    font-size: 14px;
    color: #1E1919;
}

.button-inner a {
    text-align: left;
}

.button:last-of-type {
    margin-bottom: 24px;
}

.button:hover {
    background-color: #d9d9d9;
}

.button img {
    width: 18px;
    height: auto;
    padding-right: 75px;
}

.hr-cont {
    /* text-align: center; */
    margin-bottom: 16px;
}

hr {
    width: 160px;
    display: -webkit-inline-box;
    margin-top: 36px;
    color: #1E1919;
}

.email-label {
    width: 100%;
    max-width: 350px;
    margin: 24px 0 0;
    color: #524a3ed1;
}

.email-input {
    max-width: 400px;
    min-width: 200px;
    width: 350px;
    height: 40px;
    /* padding: 0 12px; */
    color: #1E1919;
    border: 1px solid #a69e9299;
}

#submit {
    background-color: #0061FE;
    margin: 24px 0 0;
    padding: 16px 24px;
    color: white;
    width: 350px;
    max-width: 350px;
    border: none;
}

footer {
    background-color: #000;
    clear: both;
    text-align: left;
    padding: 50px;
    color: white;
    font-size: 14px;
    margin-top: 40px;
}

/* Mobile first approach */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For mobile phones: */
@media only screen and (min-width: 320px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    div#logo {
        display: block;
        margin: auto;
    }

    div#sign-up {
        text-align: center;
    }

    hr {
        width: 40%;
    }

    [class*="col-"] {
        border: 1px solid greenyellow;
    }

    .hide-on-mobile {
        display: none;
    }   
    
    .button {
        max-width: 100%;
    }

    .email-input {
        max-width: 100%;
    }
    
    #submit {
        width: 100%;
    }    
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    div#sign-up {
        text-align: center;
    }

    hr {
        width: 160px;
    }

    [class*="col-"] {
        border: none;
    }

    .hide-on-mobile {
        display: block;
        text-align: center;
    }

    .button {
        max-width: 400px;
    }    


    .email-input {
        max-width: 400px;
    }
    
    #submit {
        width: 400px;
    }      
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    div#sign-up {
        text-align: right;
    }

    hr {
        width: 160px;
    }

    [class*="col-"] {
        border: 1px solid #da353585;
    }
}



/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
      }    
}*/

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {}*/

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {

}*/

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {} */